{% extends './home.html' %}
{% block content %}
{{ block.super }}
<!-- <h3>INVENTORY CONTENT HERE</h3> -->

<table class="line-table">
    <thead>
<tr>
<th>name</th>
<th>unit</th>
<th>quantity</th>
<th>price</th>
<th>update</th>
</tr>
</thead>
<tbody>
{% for item in object_list %}
<tr>
    <td>{{ item.name }}&nbsp;</td>
    <td>{{ item.unit }}&nbsp;</td>
    <td>{{ item.availableQuantity }}&nbsp;</td>
    <td>{{ item.unitPrice }}&nbsp;</td>
    <td><a href="{% url 'update_ingredient' item.id %}">restock</a></td>
{% endfor %}
</tbody>
</table>
<div class="actionpanel">


<a href="{% url "add_ingredient"  %}">add ingredient</a></td>
</div>


{% endblock %}
