{% extends './home.html' %}
{% block content %}
{{ block.super }}
<h3>MENU CONTENT HERE</h3>
    <table class="line-table">
        <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>price</th>
  </tr>
</thead>
<tbody>
{% for item in object_list %}
  <tr>
    <td>{{ item.id }}&nbsp;</td><td>{{ item.title }}&nbsp;</td><td>{{ item.price }}&nbsp;</td>

        {% endfor %}
</tbody>
    </table>
    <a href="{% url "add_menu_item" %}"
        style="display: inherit; text-align: center; border-radius: 10px; text-decoration: none; color: #FFF; padding: 5px; background-color: #1B78FF;">add menu item</a></td>



{% endblock %}

<!-- save this anchor for later
<!-- <td><a href="#"
    style="display: inherit; text-align: center; border-radius: 10px; text-decoration: none; color: #FFF; padding: 5px; background-color: #1B78FF;">update</a></td> -->
