{% extends './home.html' %}
{% block content %}
{{ block.super }}
<h3>MENU CONTENT HERE</h3>
    <table class="line-table">
        <thead>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>actions</th>
  </tr>
</thead>
<tbody>
{% for item in object_list %}
  <tr>
    <td>{{ item.title }}&nbsp;</td><td>{{ item.price }}&nbsp;</td>
    <td><a href="#"
        style="display: inherit; text-align: center; border-radius: 10px; text-decoration: none; color: #FFF; padding: 5px; background-color: #1B78FF;">update</a></td>
        {% endfor %}
</tbody>
    </table>




{% endblock %}

<!-- save this anchor for later
"{% url "update_menu_item" item.id %}" -->
