{% extends './home.html' %}



{% block content %}
{{ block.super }}
<h3>MENU CONTENT HERE</h3>
    <table class="line-table">
        <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>price</th>
  </tr>
</thead>
<tbody>
{% for item in menuitems %}
  <tr>
    <td>{{ item.id }}&nbsp;</td><td>{{ item.title }}&nbsp;</td><td>{{ item.price }}&nbsp;</td>
    {% for row in item.reciperequirement_set.all %}
    <tr>
        <td>{{row.ingredient.name}} </td><td>qty {{row.quantity}} </td><td>cost {{ row.calculate_price }}</td>
    </tr>
        {% endfor %}
    <tr>
        <td>total cost: </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

{% endfor %}
</tbody>
    </table>
    <p>&nbsp;</p>
    <a href="{% url "add_menu_item" %}"
        style="display: inherit; text-align: center; border-radius: 10px; text-decoration: none; color: #FFF; padding: 5px; background-color: #1B78FF;">add menu item</a></td>
<p>&nbsp;</p>
        <a href="{% url "create_recipe" %}"
            style="display: inherit; text-align: center; border-radius: 10px; text-decoration: none; color: #FFF; padding: 5px; background-color: #1B78FF;">add recipe  requirement</a></td>


{% endblock %}
